<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Control.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Control.Properties.Settings.dataexpressConnectionString" connectionString="         &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;         &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;         &lt;ConnectionString&gt;Data Source=TOSHI\SQLEXPRESS;Initial Catalog=dataexpress;User ID=sa;Password=123456&lt;/ConnectionString&gt;         &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;         &lt;/SerializableConnectionString&gt;       "/>
    <add name="Control.Properties.Settings.dataexpressConnectionString1" connectionString="         &lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-16&quot;?&gt;         &lt;SerializableConnectionString xmlns:xsi=&quot;http://www.w3.org/2001/XMLSchema-instance&quot; xmlns:xsd=&quot;http://www.w3.org/2001/XMLSchema&quot;&gt;         &lt;ConnectionString&gt;Data Source=TOSHI;Initial Catalog=dataexpress;Persist Security Info=True;User ID=sa;Password=123456&lt;/ConnectionString&gt;         &lt;ProviderName&gt;System.Data.SqlClient&lt;/ProviderName&gt;         &lt;/SerializableConnectionString&gt;       "/>
  </connectionStrings>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <applicationSettings>
    <Control.Properties.Settings>
      <setting name="Control_WsEmail_ServiceEmail" serializeAs="String">
        <value>http://dataexpressmx.com/wsEmail/serviceemail.asmx</value>
      </setting>
    </Control.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MimeKit" publicKeyToken="bede1c8a46c66814" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.0" newVersion="1.6.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
