<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DataExpressWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="PROVEEDOR_ADONET" value="System.Data.SqlClient" />
    <add key="CORE" value="Data Source=DESKTOP-ST9SRK4; Persist Security info=false; User id=sa; Password=123; Initial Catalog=IpsofactuMxCore_Prueba" />
    
    <add key="CONCEPTOSONQ" value="False" />
    <add key="DESGALOSARIVA" value="False" />
    <add key="ColorDefault" value="90,175,212" />
    <!--<add key="ColorDefault" value="245,174,140"/>-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpRuntime maxRequestLength="10000000" requestLengthDiskThreshold="10000000" executionTimeout="10000000" requestValidationMode="2.0" />
    <sessionState timeout="240" />
    <customErrors defaultRedirect="Notificacion.aspx" mode="On" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="es-MX" />
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="99999" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <applicationSettings>
    <DataExpressWeb.Properties.Settings>
      <setting name="DataExpressWeb_wsTimbres_wsCertTimbres" serializeAs="String">
        <value>http://localhost:49557/wsCertTimbres.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsRecepcion_WsRecepcion" serializeAs="String">
        <value>http://localhost:49557/wsRecepcion.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsEmision_WsEmision" serializeAs="String">
        <value>http://localhost:49557/wsEmision.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsRestaurantes_wsRestaurantes"
        serializeAs="String">
        <value>http://localhost:49557/wsRestaurantes.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsMicros_wsMicros" serializeAs="String">
        <value>http://localhost:49557/wsMicros.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsBanxico_DgieWS" serializeAs="String">
        <value>http://www.banxico.org.mx/DgieWSWeb/DgieWS</value>
      </setting>
      <setting name="DataExpressWeb_wsHpresidente_wsHpresidente" serializeAs="String">
        <value>http://localhost:49557/wsHpresidente.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsDescargarZip_wsDescargarZip"
        serializeAs="String">
        <value>http://localhost:49557/wsDescargarZip.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsOpera_WsOpera" serializeAs="String">
        <value>http://localhost:49557/wsOpera.asmx</value>
      </setting>
      <setting name="DataExpressWeb_FacturaGlobalWeb_FacturaGlobalWeb"
        serializeAs="String">
        <value>http://localhost:49557/FacturaGlobalWeb.asmx</value>
      </setting>
      <setting name="DataExpressWeb_wsAloha_wsAloha" serializeAs="String">
        <value>http://localhost:49557/wsAloha.asmx</value>
      </setting>
    </DataExpressWeb.Properties.Settings>
  </applicationSettings>
</configuration>